[user]
    name = Dirk Rüdiger
    email = ruediger@f2e.de
[color]
  status = auto
  branch = auto
  grep = auto
  diff = auto
  interactive = auto
[alias]
  df = diff -b
  wd = diff --color-words
  st = status --short --branch
  ci = commit
  co = checkout
  cp = cherry-pick
  br = branch
  lg = log --oneline --decorate
  ps = push
  pl = pull --ff
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
[core]
  excludesfile = ~/.gitignore
  editor = vim
[merge]
  tool = vimdiff
  summary = true
[grep]
	lineNumber = true
[init]
	templatedir = ~/.git_template/template
[push]
  default = current
[hooks "junkchecker"]
	phrasesfile = ~/.config/git_template_junk_phrases.txt
